body {
    background-color: #DCF8FF;
}
h3 {
    font-family: "Arial Black";
}
ul {
    color: #0017FF;
}
li a {
    text-decoration: none;
    color: #FF1111;
}
li a:hover{
    text-decoration: underline;
}
p:first-letter {
    font-size: 1.5em;
}
#main {
    padding: 15px;
}
fieldset {
    width: 300px;
    text-align: center;
}
ol {
    display: flex;
    flex-direction: column-reverse;
}
.detail li {
    flex: 0 0 auto;
    list-style-type: none;
}